[Desktop Entry]
Type=Application
Version=0.6.0
Name=rfshare
GenericName=File Transfer
Comment=Fast, encrypted LAN file transfers
Exec=rfshare
Icon=rfshare
Terminal=false
Categories=Network;FileTransfer;Utility;
Keywords=file;transfer;lan;network;share;send;
StartupNotify=true
StartupWMClass=rfshare
