[Desktop Entry]
Type=Application
Version=0.15.0
Name=rfshare
GenericName=File Transfer
Comment=Fast, encrypted file transfers
Exec=rfshare
Icon=rfshare
Terminal=false
Categories=Network;FileTransfer;Utility;Remote;
Keywords=file;transfer;remote;network;share;send;
StartupNotify=true
StartupWMClass=rfshare
